body {
    background-color: yellow;
}

.flex{
    display: flex;
    justify-content: center;
}

p {
    font-size: 250%;
    text-align: center;
    margin: none;
    color: white;
    background-color: orange;
}

.center {
    text-align: center;
}

.btn {
    width: 10em;
    height:3em;
    font-size: 120%;
    color: white;
    background-color: orange;
    border-color: orange;
}

.btn:hover {
    opacity: 0.6;
}