body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: white;
}

p {
    font-size: 250%;
}

img {
    width: 650px;
    height: auto;
}

hr {
    padding: 10px 0;
    border: none;
    border-top: 1px solid white;
}

.offer-wrapper{
    height:500px;
    text-align:center;
}

.offers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    
}

.wrd {
    text-align: center;
    font-size: 30px;
    color: black;
}

.btn {
    width: 6em;
    height: 3em;
    border-radius: 10px;
}

#small {
    width: auto;
    height: auto;
}

#tips {
    background-color: gray;
    color: white;
}

#end {
    width: 9em;
    height: 4em;
}

#extra {
    width: 9em;
    height: 4em;
    border: 1px solid white;
    background-color: black;
    color: white;
}

